<div class="header">
  <div class="header__logo">
    <img [src]="imageUrl" alt="Logo" />
    <h1 class="header__logoTitle">Nexcet</h1>
  </div>

  <div class="header__menu">
    <ul class="header__menuList">
      <li class="header__menuItem">{{ home }}</li>
      <li class="header__menuItem">{{ feature }}</li>
      <li class="header__menuItem">{{ community }}</li>
      <li class="header__menuItem">{{ blog }}</li>
      <li class="header__menuItem">{{ pricing }}</li>
    </ul>

    <button class="header__btn">
      {{ btn }} <fa-icon [icon]="faArrowRight"></fa-icon>
    </button>
  </div>
</div>
