<div class="header">
  <div class="header__logo">
    <img src="assets/images/logo.svg" alt="Logo">
    <h1 class="header__logoTitle">Nexcet</h1>
  </div>

  <div class="header__menu">
    <ul class="header__menuList">
      <li class="header__menuItem">Home</li>
      <li class="header__menuItem">Features</li>
      <li class="header__menuItem">Community</li>
      <li class="header__menuItem">Blog</li>
      <li class="header__menuItem">Pricing</li>
    </ul>
    
    <button class="header__btn">
      Get Started <fa-icon [icon]="faArrowRight"></fa-icon>
    </button>  
  </div>
</div>
