<div class="footer">
  <div class="footer__company-info">
    <div class="footer__company-info__logo">
      <img
        src="assets/images/f-icon.png"
        alt="Logo"
        class="footer__company-info__logo--image"
      />
      <h1 class="footer__company-info__logo--tittle">Nexcet</h1>
    </div>
    <p class="footer__company-info--para">Copyright © 2020 Nexcent ltd.</p>
    <p class="footer__company-info--para">All rights reserved</p>
    <div class="footer__company-info__social-logo">
      <a href="#"
        ><img
          src="assets/images/insta.svg"
          alt="Logo"
          class="footer__company-info__social-logo--image"
      /></a>
      <a href="#">
        <img
          src="assets/images/social.svg"
          alt="Logo"
          class="footer__company-info__social-logo--image"
      /></a>
      <a href="#">
        <img
          src="assets/images/twitter.svg"
          alt="Logo"
          class="footer__company-info__social-logo--image"
        />
      </a>
      <a href="#">
        <img
          src="assets/images/youtube.svg"
          alt="Logo"
          class="footer__company-info__social-logo--image"
        />
      </a>
    </div>
  </div>
  <div class="footer__links">
    <div class="footer__links__data">
      <h4 class="footer__links__data--heading">Company</h4>
      <p class="footer__links__data--para">About us</p>
      <p class="footer__links__data--para">Blog</p>
      <p class="footer__links__data--para">Contact us</p>
      <p class="footer__links__data--para">Pricing</p>
      <p class="footer__links__data--para">Testimonials</p>
    </div>
    <div class="footer__links__data">
      <h4 class="footer__links__data--heading">Support</h4>
      <p class="footer__links__data--para">Help center</p>
      <p class="footer__links__data--para">Terms of service</p>
      <p class="footer__links__data--para">Legal</p>
      <p class="footer__links__data--para">Privacy policy</p>
      <p class="footer__links__data--para">Status</p>
    </div>
    <div class="footer__links__data-date">
      <h4 class="footer__links__data-date--heading">Stay up to date</h4>
      <input
        type="text"
        name=""
        id=""
        class="footer__links__data-date--input"
        placeholder="Your email address"
      />
      <img
        src="assets/images/send.svg"
        alt="Logo"
        class="footer__links__data-date--icon"
      />
    </div>
  </div>
</div>
