.client {
  height: 200px;
  margin-bottom: 1rem;

  &__main {
    width: 1349px;
    justify-self: center;
    &__tittle {
      margin-top: 2rem;
      text-align: center;
      &--heading {
        font-size: 30px;
        color: #4d4d4d;
      }
      &--para {
        font-size: 16px;
        color: #717171;
        font-weight: 400;
        line-height: 16.71px;
        margin-top: 1rem;
      }
    }
    &__images {
      margin: 3rem 7rem 1rem 7rem;
      height: 68px;
      display: flex;
      justify-content: space-around;
      &--image {
        width: 43px;
        height: 43px;
      }
    }
  }
}
