<div class="client">
    <div class="client__tittle">
        <h1 class="client__tittle--heading">Our Clients</h1>
        <p class="client__tittle--para">We have been working with some Fortune 500+ clients</p>
    </div>
    <div class="client__images">
        <img src="assets/images/image1.svg" alt="image" class="client__images--image">
        <img src="assets/images/image2.svg" alt="image" class="client__images--image">
        <img src="assets/images/image3.svg" alt="image" class="client__images--image">
        <img src="assets/images/image4.svg" alt="image" class="client__images--image">
        <img src="assets/images/image5.svg" alt="image" class="client__images--image">
        <img src="assets/images/image6.svg" alt="image" class="client__images--image">
        <img src="assets/images/image7.svg" alt="image" class="client__images--image">
    </div>
</div>
