<div class="client">
  <div class="client__main">
    <div class="client__main__tittle">
      <h1 class="client__main__tittle--heading">{{ client }}</h1>
      <p class="client__main__tittle--para">{{ clients }}</p>
    </div>
    <div class="client__main__images">
      <img [src]="image1" alt="image" class="client__images--image" />
      <img [src]="image2" alt="image" class="client__images--image" />
      <img [src]="image3" alt="image" class="client__images--image" />
      <img [src]="image4" alt="image" class="client__images--image" />
      <img [src]="image5" alt="image" class="client__images--image" />
      <img [src]="image6" alt="image" class="client__images--image" />
      <img [src]="image7" alt="image" class="client__images--image" />
    </div>
  </div>
</div>
