.demo {
  background-color: #f5f7fa;
 &__main{
  width: 1349px;
  justify-self: center;
  height: 320px;
  padding: 1px;
  &__text {
    margin-top: 2rem;
    width: 887px;
    height: 152px;
    margin-left: 13rem;
    margin-top: 2rem;
    h1 {
      text-align: center;
      font-size: 64px;
      font-weight: 600;
      line-height: 76px;
      color: #263238;
    }
  }
  &__btn {
    margin-top: 3rem;
    margin-left: 35rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 178px;
    height: 52px;
    gap: 10px;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    color: #fff;
    background-color: #4caf4f;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    &:hover {
      background-color: #4add4f;
    }

    fa-icon {
      margin-top: 1px;
      font-size: 20px;
    }
  }
 }
}
