<div class="banner">
  <div class="banner__content">
    <div class="banner__text">
      <h1 class="banner__text--heading">
        {{ lesson }}
        <br />
        <span class="banner__text--span">{{ year }} </span>
      </h1>
      <p>{{ text }}</p>
      <button class="banner__text--btn">Register</button>
    </div>
    <div class="banner__image">
      <img [src]="image" alt="" />
    </div>
  </div>

  <div class="banner__dots">
    <img src="assets/images/dot.svg" alt="" />
  </div>
</div>
