<div class="banner">
  <div class="banner__content">
    <div class="banner__text  ">
      <h1 class="banner__text--heading">
        Lessons and insights
        <br>
        <span class="banner__text--span"> from 8 years </span>
      </h1>
      <p>Where to grow your business as a photographer: site or social media?</p>
      <button class="banner__text--btn">
          Register
      </button>
    </div>
    <div class="banner__image">
      <img src="assets/images/Illustration.svg" alt="">
    </div>
    
  </div>
 
  <div class="banner__dots">
    <img src="assets/images/dot.svg" alt="">
  </div>
 
  </div>

  
