<div class="community">
<div class="community__main">
  <div class="community__main__tittle">
    <h3 class="community__main__tittle--heading">
      Manage your entire community <br />
      in a single system
    </h3>
    <p class="community__main__tittle--para">Who is Nextcent suitable for?</p>
  </div>

  <div class="community__main__card">
    @for (card of communityCards; track card) {
    <div class="community__main__card__div">
      <img
        [src]="card.image"
        alt="people-icon"
        class="community__main__card__div--image"
      />
      <h3 class="community__main__card__div--heading">{{ card.heading }}</h3>
      <p class="community__main__card__div--text">{{ card.text }}</p>
    </div>
    }
  </div>
</div>
</div>
