<div class="community">
  <div class="community__tittle">
    <h3 class="community__tittle--heading">
      Manage your entire community <br />
      in a single system
    </h3>
    <p class="community__tittle--para">Who is Nextcent suitable for?</p>
  </div>
  <div class="community__card">
    <div class="community__card__div">
      <img
        src="assets/images/people.svg"
        alt="peoplw-icon"
        class="community__card__div--image"
      />
      <h3 class="community__card__div--heading">
        Membership <br />
        Organisations
      </h3>
      <p class="community__card__div--text">
        Our membership management software provides full automation of
        membership renewals and payments
      </p>
    </div>
    <div class="community__card__div">
      <img
        src="assets/images/national.svg"
        alt="peoplw-icon"
        class="community__card__div--image"
      />
      <h3 class="community__card__div--heading">
     
        National <br />
        Associations
    </h3>
      
      <p class="community__card__div--text">
        Our membership management software provides full automation of
        membership renewals and payments
      </p>
    </div>
    <div class="community__card__div">
      <img
        src="assets/images/group.svg"
        alt="peoplw-icon"
        class="community__card__div--image"
      />
      <h3 class="community__card__div--heading">
        Clubs And <br />Groups
      
      </h3>
      <p class="community__card__div--text">
        Our membership management software provides full automation of
        membership renewals and payments
      </p>
    </div>
  </div>
</div>
