@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: #FFFFFF;
    display: flex;
    justify-content: center; /* Center content horizontally */
}

.wrapper {
    width: 1349px; /* Fixed width for the webpage */
}
