<div class="achievement">
<div class="achievement__main">
  <div class="achievement__main__text">
    <h3 class="achievement__main__text--heading">
      Helping a local <br />
      <span> business reinvent itself </span>
    </h3>
    <p class="achievement__main__text--para">
      We reached here with our hard work and dedication
    </p>
  </div>

  <div class="achievement__main__cards">
    <div class="achievement__main__cards__item">
      <div class="achievement__main__cards__item__inner1">
        <div class="achievement__main__cards__item__inner1--image">
          <img src="assets/images/person.svg" alt="person-icon" />
        </div>
        <div class="achievement__main__cards__item__inner1--text">
          <h2>2,245,341</h2>
          <p>Members</p>
        </div>
      </div>
      <div class="achievement__main__cards__item__inner1">
        <div class="achievement__main__cards__item__inner1--image">
          <img src="assets/images/groups.png" alt="person-icon" />
        </div>
        <div class="achievement__main__cards__item__inner1--text">
          <h2>46,328</h2>
          <p>Clubs</p>
        </div>
      </div>
    </div>

    <div class="achievement__main__cards__item">
      <div class="achievement__main__cards__item__inner1">
        <div class="achievement__main__cards__item__inner1--image">
          <img src="assets/images/event.svg" alt="person-icon" />
        </div>
        <div class="achievement__main__cards__item__inner1--text">
          <h2>828,867</h2>
          <p>Event Bookings</p>
        </div>
      </div>
      <div class="achievement__main__cards__item__inner1">
        <div class="achievement__main__cards__item__inner1--image">
          <img src="assets/images/payment.svg" alt="person-icon" />
        </div>
        <div class="achievement__main__cards__item__inner1--text">
          <h2>1,926,436</h2>
          <p>Payments</p>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
