<div class="customer">
<div class="customer__main">
  <div class="customer__main__image">
    <img
      src="assets/images/image9.svg"
      alt="airpods-image"
      class="calender__image--pic"
    />
  </div>
  <div class="customer__main__text">
    <p class="customer__main__text--para">
      {{description}}
    </p>
    <h2 class="customer__main__text--heading">
        Tim Smith
    </h2>
    <p class="customer__main__text--para">British Dragon Boat Racing Association</p>
    <div class="customer__main__text__icons">
      @for (image of images; track image) {
        <img [src]="image.image" alt="" class="customer__main__text__icons--imgs">
      }      
        <img src="assets/images/c7.svg" alt="" class="customer__main__text__icons--imgs1">
    </div>
  </div>
</div>
</div>
